body{

    background-color: #afb9c8;
}


img{
height: 200px;
margin-left: 350px ;
}

ul li {
    
    font-family: 'Limelight', cursive;
    font-size: large; 
/* background-color: #b6c9f0; */
}
    


    h1 {
        font-family: 'Limelight', cursive;
        font-size: 50px;
        background-color: #f6b8b8;
        margin-top: 0;
        text-align: center;
        color: #bf1363;
    }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #0a81ab;
        font-size: 30px;
        color: wheat;
        /* text-align: center; */
    }


    table{
        border-collapse: collapse;
    }

    td ,th {
        border:solid black 1px;
    }


   ul li a {
        display: inline-block;
        padding: 30px;
        text-decoration: none;
        color: #bf1363;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        
    }

    section div img {
        height: 100px;
        margin-left: 350px ;

    }

    .links1 ul li{
        display: inline;
        color: crimson;
        margin-left: 150px;
font-size: 23px;

    }

    footer {
        text-align: center;
        margin: 40px;
        font-size: x-large;
        color: red;"
    }

    .links2 > ul li {

        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #bf1363;
        display: inline-block;
    }

    strong{
        color: wheat;
        font-size: 25px;
    }

  